/* src/components/Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff; /* 기본 배경색 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header.dark-mode {
    background-color: #333; /* 다크 모드 배경색 */
    color: #e0e0e0; /* 다크 모드 글자 색 */
  }
  
  .logo {
    height: 50px;
  }
  
  .nav {
    display: flex;
    gap: 20px;
    align-items: end;
  }

  .nav a {
    color: #000;
    text-decoration: none;
  }
  
  .icons {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
  }
  
  .icon {
    cursor: pointer;
    font-size: 30px;
  }
  